#body{
    background-color: #111;
}

.txt{
    color: white;
}

.over-ons{
    margin-bottom: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
#title-ons{
    font-weight:lighter;
    color: #bfa046;
    
}
#kappers-intro{
    font-weight:lighter;
    color: #bfa046;
}
.ons-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin-bottom: 80px;

}
#knipImg{
    width: 500px;
    height: 350px;
    margin-right: 15px;   
}
#alceholImg{
    width: 500px;
    height: 350px;
    margin-left: 15px;
}

.onze-kappers{
    display: flex;
    justify-content: auto;
    align-items: auto;
}
#quote{
    color: #bfa046;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    margin-top: 60px;
    
}
