.body{
    background-color: #111;
}


.txt{
    color: #bfa046;

}
.txt_w{
    color: white;

}

#menu_kaart{
    display: flex;
    justify-content: space-between;
    border: solid 2px #bfa046;
}
#frisdranken, #wijnen, #bieren, #cocktails,#mocktails,#snacks{
    border: solid 2px #bfa046;
}
#bar_mainIMG{
    display:flex ;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    }
#aldceholIMG{
    border: solid #bfa046 1px;
    border-radius: 8px 
}