.body{
    background-color: #111;
}
#reservering_table_kapper{
    display: flex;;
    justify-content: start;
    margin-bottom: 60px;
    border: 2px solid #bfa046   ;
    width: auto;
    height: auto;   
}


.txt{
    color: #bfa046;

}