
.form_reserveren {
    max-width: 400px;  
    margin: 20px auto;  
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(176, 144, 39, 0.1);
    border: 2px solid #bfa046;  
    display: flex;
    flex-direction: column;  
    align-items: center; 
    color: #bfa046;
}

label {
    display: block;  
    width: 100%;  
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #bfa046;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #9b8749;
}

.body_reserveren {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.h1_reserveren {
    text-align: center;
    color: #bfa046 !important;
    font-family: 'Courier New', Courier, monospace;
}