* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    min-height: 100vh; 
    background-color: #000000 !important; 
    color: white;
}

.tekstMidden {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    box-sizing: border-box;
}

.afbeeldingHome {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    align-items: center; 
    gap: 20px; 
    margin-top: 50px;
    width: 100%; 
    height: auto;
}

.navigatieMenu {
    font-size: 1.8rem;
    color : black;
    margin-left : 4rem;
    font-weight : 500;
    border-bottom: 3px solid #000000;
    transition:0.3s;
}

.header {
    margin-top: 20px;
    position: auto;
    top:0;
    left:0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter:drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    border-radius: 50%;
    border: 2px solid rgb(152, 152, 0);
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    background-color: #000000; 
}