.hmtl,body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}




.tekstMidden {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    box-sizing: border-box;
}

.afbeeldingHome {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0px;
    margin-top: 20px;
    object-fit: cover;
}