* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000000;
    color: white;
}

.tekstMidden {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    box-sizing: border-box;
}

.afbeeldingHome {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0px;
    margin-top: 20px;
    object-fit: cover;
}

.navigatieMenu {
    font-size: 1.8rem;
    color : black;
    margin-left : 4rem;
    font-weight : 500;
    border-bottom: 3px solid #000000;
    transition:0.3s;

}

.header
{
    margin-top: 20px;
    position: auto;
    top:0;
    left:0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter:drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    justify-content: left;
}

.logo span{
    color: #ffffff;
}